/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
/* */
body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}
.wrapper {
  max-width: 943px;
  margin: 0 auto;
}
/* header styles start */
.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s linear;
  z-index: 999;
}
.header__nav_active {
  background: black;
}
.header__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.heaedr__item-link {
  text-decoration: none;
  font-weight: bold;
  color: #828282;
}
.heaedr__item-link:hover,
.heaedr__item-link:focus {
  opacity: 0.65;
}
.heaedr__item-link-home {
  color: #070707;
}
.heaedr__item-link-home_active {
  color: rgba(255, 255, 255, 0.849);
}
.header__info {
  margin-top: 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 104px;
}
.header__desc {
  width: 155px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
.header__title {
  font-size: 47px;
  font-weight: bold;
  line-height: 59px;
}
.header__short {
  font-weight: bold;
  line-height: 30px;
}
.header__photo {
  width: auto;
  height: 500px;
}
.header__burger {
  background: rgb(255, 255, 255);
  width: 40px;
  height: 28px;
  position: relative;
  right: 100px;
}
/* header styles end */

/* about styles stert */
.wrapper-full {
  background: #f6f6f6;
}
.about {
  max-width: 485px;
  margin: 0 auto;
  text-align: center;
}
.about__title {
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
  padding-top: 120px;
  margin-bottom: 18px;
}
.about__info {
  padding-bottom: 107px;
}
.about__info-paragraf {
  margin-bottom: 18px;
}
/* about styles end */

/* skills styles end */
.skills {
  margin-bottom: 110px;
}
.skills__title {
  margin-top: 91px;
  margin-bottom: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
}
.skills__info {
  text-align: center;
  margin-bottom: 84px;
}
.skills__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 167px;
  grid-row-gap: 100px;
}
.skils__icon {
  margin: 0 auto;
}
.skils__icon-img {
  width: 90px;
  height: 90px;
  margin-bottom: 24px;
}
.skills__icon-decs {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

/* skills styles end */

/* contasts styles start */

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title {
  margin-top: 115px;
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
}
.footer__info {
  text-align: center;
  max-width: 275px;
  margin-bottom: 30px;
}
.footer__btn-email {
  background: #070707;
  border-radius: 20px;
  border: none;
  outline: none;
  margin-bottom: 92px;
}
.footer__btn-email-link {
  margin: 30px 13px;
  text-decoration: none;
  color: #ffffff;
}
.footer__btn-email:hover,
.footer__btn-email:focus {
  opacity: 0.65;
}
.footer__links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  margin-bottom: 45px;
}
.footer__btn-link:hover,
.footer__btn-link:focus {
  opacity: 0.65;
}
.footer__btn-link {
  border: none;
  outline: none;
  background: none;
}
.footer__desc {
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  color: #828282;
  margin-bottom: 123px;
}
/* contasts styles end */

/* media styles start */
@media (prefers-color-scheme: dark) {
  body,
  .wrapper-full {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  .heaedr__item-link-home {
    color: rgba(255, 255, 255, 0.849);
  }
  .footer__btn-email {
    border: 1px solid#f6f6f6;
  }
  .footer__btn-img,
  .skils__icon-img-dark {
    filter: invert(100%);
  }
}
@media screen and (max-width: 767px) {
  .skills__icons {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 60px;
  }
  .header__info {
    margin-top: 70px;
  }
  .header__title {
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .header__short {
    padding-left: 10px;
  }
  .skills__title {
    margin-bottom: 20px;
  }
  .skills__info {
    margin-bottom: 30px;
  }
  .about__title {
    padding-top: 0px;
  }
  .about__info {
    padding-bottom: 20px;
  }
  .footer__title {
    margin-top: 10px;
  }
}
/* media styles end */
